
- if user_signed_in?

  .grid_8
    %p
      %strong Καλώς Ήλθατε!

    %p Καλώς ήλθατε στον προσωπικό σας πίνακα διαχείρισης.
    %p Εδώ μπορείτε να διαχειριστείτε τις επιχειρήσεις, τις κρίσιμες επιχειρηματικές τους ανάγκες, τους δείκτες εκπαίδευσης, κλπ.
    %p= link_to "Δημιουργήστε ένα νέο προφίλ επιχείρησης", new_company_path
    %p
      %em &nbsp;-- or --
    %p
      = link_to "Δημιουργήστε μια πιλοτική επιχείρηση", 'companies/create_random'
      (μόνο για δοκιμή ...)

  .grid_4
    %h3 Επιχειρήσεις
    - if @user.companies.empty?
      %em Δεν παρακολουθείτε κάποια επιχείρηση ακόμη.
    - else 
      %ul
        - @user.companies.each do |company|
          %li
            = link_to company.name, company_path(company)

- else
  .grid_8
    = form_tag choose_locale_path do
      = select_tag "new_locale", options_for_select({'English' => 'en', 'French' => 'fr', 'Greek' => 'el', 'Italian' => 'it', 'Polish' => 'pl' , 'Spanish' => 'es'})
      = submit_tag "Go"
    %p
      %strong
        Καλώς ήλθατε στο εργαλείο Cartesia, μια υπηρεσία διαχείρισης της κατάρτισης των εργαζομένων της επιχείρησή σας σύμφωνα με τις Κρίσιμες επιχειρηματικές σας ανάγκες.
    %p
      Το εργαλείο αυτό απευθύνεται σε διευθυντές ή συμβούλους επιχειρήσεων.
      Για να ξεκινήσετε, συνδεθείτε ή εγγραφείτε δωρεάν.
      Στη συνέχεια δημιουργήστε ένα προφίλ επιχείρησης, καθορίστε τις κρίσιμές επιχειρηματικές ανάγκες και τους σχετικούς εκπαιδευτικούς δείκτες.
      Αργότερα θα είστε σε θέση να αξιολογήσετε την πρόοδο των εργαζομένων σας.
    %p
      Το Cartesia υποστηρίζει μόνο σύγχρονα προγράμματα περιήγησης, συμπεριλαμβανομένων των τελευταίων εκδόσεων Firefox, Safari, Chrome, Opera και Internet Explorer (version 9+)
    %p
      %em Το Cartesia είναι ένα δωρεάν εργαλείο που αναπτύχθηκε από τη συνεργασία των εταίρων του έργου BeCome.

    -# %strong{:style => 'color: red'}
      -# Μήνυμα προς τους εταίρους του BeCome: παρακαλούμε εγγράψτε έναν νέο σύμβουλο κατάρτισης και μετά χρησιμοποιήστε το σύνδεσμο για να δημιουργήσετε μια δοκιμαστική επιχείρηση
  .grid_4
    %img{:src => "/images/screenshot.png"}
